:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
    --lightred: #fc9d9d;
    --aguamarina: #0e918c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    border: none;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/


/** IMG Header **/

.img-header{
    background: url(../img/img1.jpg);
    position: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 100px;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 20px;
}


.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    transition: 0,5s;
}

.img-header .welcome > button:hover{
    background: var(--darkblue);
}

/** IMG Header **/


/** ¿Quiénes Somos? **/

.acera-de{
    width: 100%;
    margin-top: 120px;
}

.acerca-de .info-container{
    padding: 8% 3%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-container h1{
    border-radius: 50px;
    border: 3px solid var(--redckae);
    padding: 5% 30%;
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container h4{
    border-radius: 50px;
    border: 2px solid var(--red);
    text-align: center;
    font-size: 20px;
    color: var(--black);
    line-height: 40px;
    margin: 10px 0px;
    padding: 5% 8% 5% 8%;   
}

.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding: 10% 8% 0% 8%;
}

.acerca-de .info-container .about-gallery img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 10px 20px;
    border-radius: 10px;
}

.acerca-de .info-container .about-gallery img:hover{
    box-shadow: 0 0 30px var(--lightblack);
}

/** ¿Quiénes Somos? **/

/** Misión  **/

.our-projects{
    width: 100%;
    margin-top: 10px;
}

.our-projects .mvision-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.our-projects .mvision-title h2{
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.our-projects .mvision-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

.our-projects .box-mision{
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-projects .box-mision .card-mision{
    width: 45%;
    margin: 20px;
}

.our-projects .box-mision .card-mision .card-mimg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-projects .box-mision .card-mision .card-mimg img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.our-projects .box-mision .card-mision .mision-text{
    width: 100%;
    border: 2px solid var(--redckae);
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    transition: 200ms;
}


.our-projects .box-mision .card-mision .mision-text h4{
    color: var(--redckae);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.our-projects .box-mision .card-mision .mision-text p{
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}

.our-projects .box-mision .card-mision .mision-text:hover {
    box-shadow: 0 0 10px var(--redckae);
}

/** Misión **/

/** Visión **/

.our-projects .box-vision{
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-projects .box-vision .card-vision{
    width: 45%;
    margin: 20px;
}

.our-projects .box-vision .card-vision .card-vimg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-projects .box-vision .card-vision .card-vimg img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.our-projects .box-vision .card-vision .vision-text{
    width: 100%;
    border: 2px solid var(--aguamarina);
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    transition: 200ms;
}

.our-projects .box-vision .card-vision .vision-text h4{
    color: var(--aguamarina);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.our-projects .box-vision .card-vision .vision-text p{
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}

.our-projects .box-vision .card-vision .vision-text:hover{
    box-shadow: 0 0 10px var(--aguamarina);
}


/** Visión **/


/** Footer **/

.footer-text p{
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

/** Footer **/


/** Media Query **/

@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }

    .btn-menu > .fa-bars:hover{color:var(--red);}
    .btn-menu > .fa-times{color: var(--red);}

    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: cal(100vh - 60px);
        background: #fff;
    }

    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }

    .menu .list-container .lists li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--red);
        text-align: center;
    }

    .menu .list-container .lists li a{
        font-size: 20px;
    }

    .menu .list-container .lists li a.active{
        background: none;
        color: var(--red);
    }

    .menu .list-container .lists li a:hover{
        background: none;
        color: var(--red);
    }

}

@media only screen and (max-width: 773px){

    /** IMG Header **/

    .img-header .welcome h1{
        font-size: 40px;
    }

    .img-header .welcome > button{
        width: 130px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 773px){

    /** IMG Header **/

    .img-header .welcome .h1{
        font-size: 30px;
    }

    .img-header .welcome .hr{
        width: 100%;
    }

    .img-header .welcome p{
        font-size: 17px;
    }

    .img-header .welcome > button{
        width: 100px;
        font-size: 17px;
    }

}

@media only screen and (max-width: 890px){

    /**Mision**/

    .our-projects .box-mision .card-mision .card-mimg img{
        width: 200px;
        height: 200px;
    }

    .our-projects .box-mision .card-mision{
        width: 100%;
    }

    .our-projects .box-mision .card-mision .mision-text h4{
        font-size: 25px;
    }

    .our-projects .box-mision .card-mision .mision-text p{
        font-size: 17px;
        line-height: 35px;
    }

    /**Vision**/

    .our-projects .box-vision .card-vision .card-vimg img{
        width: 200px;
        height: 200px;
    }

    .our-projects .box-vision .card-vision{
        width: 100%;
    }

    .our-projects .box-vision .card-vision .vision-text h4{
        font-size: 25px;
    }

    .our-projects .box-vision .card-vision .vision-text p{
        font-size: 17px;
        line-height: 35px;
    }
}

@media only screen and (max-width:900px){
    
    .footer .footer-content{
        width: 95%;
        padding: 20px;
    }
    .footer .footer-content #formulario label{
        font-size: 17px;
    }

    .footer .footer-content #formulario input{
        width: 100%;
        font-size: 17px;
    }

    .footer .footer-content #formulario textarea{
        width: 100%;
    }

    .footer .footer-text{
        width: 100%;
        padding: 0px 30px;
    }

    .footer .footer-text p{
        font-size: 17px;
    }
}