:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/


/** IMG Header **/

.img-header{
    position: center;
    width: 100%;
    height: 100vh;
    background: url(../img/geografia.png);
    background-position: center;
    background-size: cover;
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 20px;
}

.img-header .welcome p{
    margin-top: 30px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    transition: 0,5s;
}

.img-header .welcome > button:hover{
    background: var(--darkblue);
}

/** IMG Header **/

/** Temas  **/

.temas{
    width: 100%;
    margin-top: 120px;
}

.temas .temas-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.temas .temas-title h2{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.temas .temas-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

/** Temas **/

/** TEMÁTICA **/

.dep-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.dep-img .temas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dep-img .temas .temas-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dep-img .regiones1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    flex-direction: row;
}

.dep-img .regiones2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    flex-direction: row;
}

.dep-img .regiones3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    flex-direction: row;
}

/** TEMATICA **/

/** REGION AMAZONICA **/

.Amazonica{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Amazonica .amaz .amaz-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 550px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Amazonica .amaz .amaz-box:hover{
    box-shadow: 0 0 10px var(--black);
}

.Amazonica .amaz .amaz-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Amazonica .amaz .amaz-box a{
    text-decoration: none;
}

.Amazonica .amaz .amaz-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Amazonica .amaz .amaz-img img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

/** Region Amazónica **/

/** Región Andina **/

.Andina{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Andina .and .and-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 550px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Andina .and .and-box:hover{
    box-shadow: 0 0 10px var(--black);
}

.Andina .and .and-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Andina .and .and-box a{
    text-decoration: none;
}

.Andina .and .and-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Andina .and .and-img img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

/** Región Andina **/

/** Región Caribe **/

.Caribe{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Caribe .car .car-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 550px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Caribe .car .car-box:hover{
    box-shadow: 0 0 10px var(--black);
}

.Caribe .car .car-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Caribe .car .car-box a{
    text-decoration: none;
}

.Caribe .car .car-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Caribe .car .car-img img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

/** Región caribe **/

/** Región Insuar **/

.Insular{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Insular .insu .insu-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 550px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Insular .insu .insu-box:hover{
    box-shadow: 0 0 10px var(--black);
}

.Insular .insu .insu-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Insular .insu .insu-box a{
    text-decoration: none;
}

.Insular .insu .insu-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Insular .insu .insu-img img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

/** Región insular **/

/** Región Insuar **/

.Orinoquia{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Orinoquia .orinoq .orinoq-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 550px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Orinoquia .orinoq .orinoq-box:hover{
    box-shadow: 0 0 10px var(--black);
}

.Orinoquia .orinoq .orinoq-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Orinoquia .orinoq .orinoq-box a{
    text-decoration: none;
}

.Orinoquia .orinoq .orinoq-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Orinoquia .orinoq .orinoq-img img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

/** Región Orinoquia **/

/** Región Pacifico **/

.Pacifico{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Pacifico .paci .paci-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 550px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Pacifico .paci .paci-box:hover{
    box-shadow: 0 0 10px var(--black);
}

.Pacifico .paci .paci-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Pacifico .paci .paci-box a{
    text-decoration: none;
}

.Pacifico .paci .paci-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pacifico .paci .paci-img img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

/** Región Pacifico **/




