:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
    --light2green: #7ea04d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/

/** Temas  **/

.temas{
    width: 100%;
    margin-top: 120px;
}

.temas .temas-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.temas .temas-title h2{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.temas .temas-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

/** Temas **/

/** AMAZONICA**/

.UBICACION{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.UBICACION .temas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.UBICACION .temas .title-ubi{
    position: relative;
    margin-top: 10px;
    width: 98%;
    height: 50px;
    background: linear-gradient(var(--white),var(--light2green));
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
}

.UBICACION .temas .title-ubi h2{
    color: var(--black);
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 20px;
    transform: translateY(8%);
}

/** PRINCIPAL **/

.ubi{
    padding: 0px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ubi .ubica{
    align-items: center;
    margin-top: 30px;
    flex-direction: row;
    overflow: hidden;
}

.ubi .ubica .ubic-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 55%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    justify-content: center;
    float: right;
}

.ubi .ubica .ubic-box .mapa{
    align-items: center;
    width: 100%;
    height: 1100px;
    object-fit: cover;
    border-radius: 20px;
    justify-content: center;
}

.ubi .ubica .ubic-box .mapa img{
    align-items: center;
    width: 100%;
    height: 1100px;
    border-radius: 20px;
}

/** PRINCIPAL **/

/** DATOS1 **/

.ubi .ubica .txtubic1-box{

    margin-top: 30px;

    padding: 0px 30px 8px 30px;
    width: 42%;
    height: 510px;
    justify-content: center;
    float: left;
}

.ubi .ubica .txtubic1-box h3{
    position: relative;
    margin-top: 10px;
    width: 98%;
    background: linear-gradient(var(--white),var(--lightblue),var(--darkblue));
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.ubi .ubica .txtubic1-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    justify-content: center;
    transform: translateY(25%);
}

.ubi .ubica .txtubic1-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    text-align: justify;
    margin-top: 20px;
}

.ubi .ubica .txtubic1-box h4 a{
    text-decoration: none;
    color: var(--darkblue);
    font-size: 25px;
    text-align: justify;
}

/** DATOS1 **/

/** DATOS2 **/

.ubi .ubica .txtubic2-box{
    margin-top: 30px;
    padding: 0px 30px 8px 30px;
    width: 98%;
    height: 510px;
    justify-content: center;
}

.ubi .ubica .txtubic2-box h3{
    position: relative;
    margin-top: 0px;
    width: 33.3%;
    background: linear-gradient(var(--white),var(--pink),var(--darkpink));
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.ubi .ubica .txtubic2-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    justify-content: center;
    transform: translateY(0%);
}

.ubi .ubica .txtubic2-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    text-align: justify;
    margin-top: 20px;
}

/** DATOS2 **/

/** DATOS2.2 **/

.ubi .ubica .txtubic2-box .txtubic22-box{
    margin-top: 30px;
    padding: 0px 30px 8px 30px;
    width: 50%;
    height: 510px;
    justify-content: center;
    float: right;
}

.ubi .ubica .txtubic2-box .txtubic22-box h3{
    position: relative;
    margin-top: 0px;
    width: 98%;
    background: linear-gradient(var(--white),var(--pink),var(--darkpink));
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.ubi .ubica .txtubic2-box .txtubic22-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    justify-content: center;
    transform: translateY(0%);
}

.ubi .ubica .txtubic2-box .txtubic22-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    text-align: justify;
    margin-top: 20px;
}

/** DATOS2.2 **/

/** DATOS2.3 **/

.ubi .ubica .txtubic2-box .txtubic23-box{
    margin-top: 30px;
    padding: 0px 30px 8px 30px;
    width: 50%;
    height: 1100px;
    justify-content: center;
    float: right;
    overflow: hidden;
}

.ubi .ubica .txtubic2-box .txtubic23-box h3{
    position: relative;
    margin-top: 0px;
    width: 98%;
    background: linear-gradient(var(--white),var(--pink),var(--darkpink));
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.ubi .ubica .txtubic2-box .txtubic22-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    justify-content: center;
    transform: translateY(0%);
}

.ubi .ubica .txtubic2-box .txtubic23-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    text-align: justify;
    margin-top: 20px;
}

/** DATOS2.3 **/

/** Footer **/

.footer-text p{
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

/** Footer **/