:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/

/** Temas  **/

.temas{
    width: 100%;
    margin-top: 120px;
}

.temas .temas-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.temas .temas-title h2{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.temas .temas-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

/** Temas **/

/** Simbolos **/

.sim-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sim-img .temas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sim-img .temas .temas-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sim-img .simbolos{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    flex-direction: row;
}

/** ESCUDO **/

.sim-img .simbolos .escudocondorybandera{
    margin-top: 30px;
    justify-content: center;
    flex-direction: column;
}

.sim-img .simbolos .escudocondorybandera .Escudo{
    padding: 0px 20px 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sim-img .simbolos .escudocondorybandera .Escudo .esc{
    align-items: center;
}

.sim-img .simbolos .escudocondorybandera .Escudo .esc .esc-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 0px;
    width: 400px;
    height: 870px;
    object-fit: cover;
    border-radius: 20px;

    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Escudo .esc .esc-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Escudo .esc .esc-box .txtesc-box{
    padding: 0px 8px 8px 30px;
    width: 90%;
    justify-content: center;
}

.sim-img .simbolos .escudocondorybandera .Escudo .esc .esc-box .txtesc-box h2{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Escudo .esc .esc-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sim-img .simbolos .escudocondorybandera .Escudo .esc .esc-img img{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

/** Escudo **/

/** Bandera **/
.sim-img .simbolos .escudocondorybandera .Bandera{
    padding: 0px 20px 20px 50px;
    width: 90%;
    display: flex;

    flex-direction: row;
    margin: 20px 5px;

    justify-content: center;
    flex-wrap: wrap;
}

.sim-img .simbolos .escudocondorybandera .Bandera .ban .ban-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 400px;
    height: 530px;
    object-fit: cover;
    border-radius: 20px;

    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Bandera .ban .ban-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}
.sim-img .simbolos .escudocondorybandera .ban .ban-box .txtban-box{
    padding: 0px 8px 8px 30px;
    width: 90%;
    justify-content: center;
}

.sim-img .simbolos .escudocondorybandera .Bandera .ban .ban-box .txtban-box h2{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Bandera .ban .ban-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sim-img .simbolos .escudocondorybandera .Bandera .ban .ban-img img{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

/** Bandera **/

/** Ave **/
.sim-img .simbolos .escudocondorybandera .Ave{
    padding: 0px 20px 20px 50px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.sim-img .simbolos .escudocondorybandera .Ave .av .av-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 400px;
    height: 480px;
    object-fit: cover;
    border-radius: 20px;

    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Ave .av .av-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Ave .av .av-box .txtav-box{
    padding: 0px 8px 8px 30px;
    width: 90%;
    justify-content: center;
}

.sim-img .simbolos .escudocondorybandera .Ave .av .av-box .txtav-box h2{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .escudocondorybandera .Ave .av .av-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sim-img .simbolos .escudocondorybandera .Ave .av .av-img img{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

/** Ave **/

/** Arbol **/

.sim-img .simbolos .arbolflorehimno{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    float: right;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Arbol{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 50%;
    margin: 20px 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Arbol .arb .arb-box{
    flex-direction: row;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 400px;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
    flex-wrap: wrap;
    transition: 200ms;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Arbol .arb .arb-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Arbol .arb .arb-img{
    text-decoration: none;
    width: 40%;
    object-fit: cover;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    float: left;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Arbol .arb .arb-img img{
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Arbol .arb .arb-box .txtarb-box{
    padding: 0px 8px 8px 5px;
    flex-direction: row;
    width: 55%;
    overflow: hidden;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Arbol .arb .arb-box .txtarb-box h2{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    transition: 200ms;
    float: left;
}

/** Arbol **/

/** Flor **/
.sim-img .simbolos .arbolflorehimno .arbolyflor .Flor{

    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 50%;
    margin: 20px 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Flor .fl .fl-box{
    flex-direction: row;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 400px;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
    flex-wrap: wrap;
    transition: 200ms;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Flor .fl .fl-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Flor .fl .fl-box .txtfl-box{
    padding: 0px 8px 0px 30px;
    flex-direction: row;
    width: 90%;

    justify-content: center;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Flor .fl .fl-box .txtfl-box h2{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    transition: 200ms;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Flor .fl .fl-img{
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Flor .fl .fl-img img{
    width: 200px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

/** Flor **/

/** Himno **/
.sim-img .simbolos .arbolflorehimno .arbolyflor .Himno{
    padding: 0px 20px 20px 50px;
    width: 90%;
    margin: 20px 5px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Himno .him .him-box{
    display: flex;
    margin-top: 30px;
    width: 400px;
    height: 100%;
    object-fit: cover;
    flex-direction: column;
    transition: 200ms;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Himno .him .him-img{

    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sim-img .simbolos .arbolflorehimno .arbolyflor .Himno .him .him-img img{
    width: 600px;
    height: 800px;
    border-radius: 50px;
    object-fit: cover;
    justify-content: center;
    display: flex;
}

/** Himno **/

/** Simbolos **/

/** Footer **/

.footer-text p{
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

/** Footer **/