:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/

/** Temas  **/

.temas{
    width: 100%;
    margin-top: 120px;
}

.temas .temas-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.temas .temas-title h2{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.temas .temas-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

/** Temas **/

/** AMAZONICA MAPA **/

.REGIONAMAZONICA{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.REGIONAMAZONICA .temas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.REGIONAMAZONICA .temas .title-amaz{
    position: relative;
    margin-top: 10px;
    width: 98%;
    height: 50px;
    background: linear-gradient(var(--white),var(--darkgreen));
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
}

.REGIONAMAZONICA .temas .title-amaz h2{
    color: var(--black);
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 20px;
    transform: translateY(8%);
}

/** DATOS **/

.regionamaz{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    flex-direction: row;
}

.regionamaz .AMAZONICA{
    padding: 0px 20px 20px 20px;
    width: 100%;
    display: flex;

    flex-direction: row;

    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.regionamaz .AMAZONICA .amaz .amaz-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 950;
    height: 1100px;
    object-fit: cover;
    border-radius: 20px;
    justify-content: center;
    transition: 200ms;
}

.regionamaz .AMAZONICA .amaz .amaz-box h2{
    color: var(--white);
    font-weight: normal;
    font-size: 35px;
    justify-content: center;
    margin-bottom: 20px;
    transform: translateY(25%);
}

.regionamaz .AMAZONICA .amaz .amaz-box .mapa{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regionamaz .AMAZONICA .amaz .amaz-box .mapa img{
    margin-top: 10px;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
}

.regionamaz .AMAZONICA .amaz .amaz-box .txtamaz-box{
    border: 2px solid var(--black);
    margin-top: 30px;
    border-radius: 20px;
    padding: 0px 30px 8px 30px;
    width: 33.33%;
    height: 520px;
    justify-content: center;
}

.regionamaz .AMAZONICA .amaz .amaz-box .txtamaz-box .txtdatos-box h3{
    position: relative;
    margin-top: 10px;
    width: 98%;
    background: linear-gradient(var(--white),var(--yellow),var(--orange));
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
}

.regionamaz .AMAZONICA .amaz .amaz-box .txtamaz-box .txtdatos-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 35px;
    justify-content: center;
    margin-bottom: 0px;
    transform: translateY(25%);
}

.regionamaz .AMAZONICA .amaz .amaz-box .txtamaz-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    transition: 200ms;
}

.regionamaz .AMAZONICA .amaz .amaz-box .txtamaz-box h4 a{
    text-decoration: none;
    color: var(--darkblue);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    transition: 200ms;
    cursor: pointer;
}

/** DATOS **/

/** DATOS2 **/


.regionamaz .AMAZONICA .amaz2 .amaz2-box .txtamaz2-box{
    border: 2px solid var(--black);
    margin-top: 30px;
    border-radius: 20px;
    padding: 0px 30px 8px 30px;
    width: 33.3%;
    height: 520px;
    justify-content: center;
    float: right;
}

.regionamaz .AMAZONICA .amaz2 .amaz2-box .txtamaz2-box h3{
    position: relative;
    margin-top: 10px;
    width: 98%;
    background: linear-gradient(var(--white),var(--yellow),var(--orange));
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
}

.regionamaz .AMAZONICA .amaz2 .amaz2-box .txtamaz2-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 35px;
    justify-content: center;
    margin-bottom: 0px;
    transform: translateY(25%);
}

.regionamaz .AMAZONICA .amaz2 .amaz2-box .txtamaz2-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    transition: 200ms;
}

/** DATOS2 **/

/** DATOS3 **/


.regionamaz .AMAZONICA .amaz3 .amaz3-box .txtamaz3-box{
    border: 2px solid var(--black);
    margin-top: 30px;
    border-radius: 20px;
    padding: 0px 30px 8px 30px;
    width: 33.3%;
    height: 520px;
    justify-content: center;
    float: right;
}

.regionamaz .AMAZONICA .amaz3 .amaz3-box .txtamaz3-box h3{
    position: relative;
    margin-top: 10px;
    width: 98%;
    background: linear-gradient(var(--white),var(--yellow),var(--orange));
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
}

.regionamaz .AMAZONICA .amaz3 .amaz3-box .txtamaz3-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 35px;
    justify-content: center;
    margin-bottom: 0px;
    transform: translateY(25%);
}

.regionamaz .AMAZONICA .amaz3 .amaz3-box .txtamaz3-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    transition: 200ms;
}

/** DATOS3 **/


/** Footer **/

.footer-text p{
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

/** Footer **/