:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/

/** Temas  **/

.temas{
    width: 100%;
    margin-top: 120px;
}

.temas .temas-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.temas .temas-title h2{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.temas .temas-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

/** Temas **/

/** Departamentos **/

.dep-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.dep-img .temas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dep-img .temas .temas-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dep-img .departamentos1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 300px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.dep-img .departamentos2{
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.dep-img .departamentos3{
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.dep-img .departamentos4{
    
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.dep-img .departamentos5{
    
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.dep-img .departamentos6{
    
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}

/** Amazonas **/
.Amazonas{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Amazonas .amaz .amaz-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Amazonas .amaz .amaz-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Amazonas .amaz .amaz-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Amazonas .amaz .amaz-box a{
    text-decoration: none;
}

.Amazonas .amaz .amaz-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Amazonas .amaz .amaz-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Amazonas .amaz .amaz-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}
/** Amazonas **/

/** Antioquia **/

.Antioquia{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    margin: 80px auto;
    object-fit: cover;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Antioquia .anti .anti-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Antioquia .anti .anti-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Antioquia .anti .anti-box h3{
    
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Antioquia .anti .anti-box a{
    text-decoration: none;
}

.Antioquia .anti .anti-img{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.Antioquia .anti .anti-img img{
    margin-top: 20px;
    align-items: center;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Antioquia .anti .anti-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}
/** Antioquia **/

/** Arauca **/
.Arauca{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Arauca .arau .arau-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Arauca .arau .arau-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Arauca .arau .arau-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Arauca .arau .arau-box a{
    text-decoration: none;
}

.Arauca .arau .arau-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Arauca .arau .arau-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Arauca .arau .arau-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Arauca **/

/** Atlantico **/
.Atlantico{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Atlantico .atlan .atlan-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Atlantico .atlan .atlan-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Atlantico .atlan .atlan-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Atlantico .atlan .atlan-box a{
    text-decoration: none;
}

.Atlantico .atlan .atlan-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Atlantico .atlan .atlan-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Atlantico .atlan .atlan-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Atlantico **/

/** Bolivar **/
.Bolivar{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Bolivar .boli .boli-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Bolivar .boli .boli-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Bolivar .boli .boli-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Bolivar .boli .boli-box a{
    text-decoration: none;
}

.Bolivar .boli .boli-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bolivar .boli .boli-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Bolivar .boli .boli-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Bolivar **/

/** Boyaca **/
.Boyaca{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Boyaca .boy .boy-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Boyaca .boy .boy-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Boyaca .boy .boy-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Boyaca .boy .boy-box a{
    text-decoration: none;
}

.Boyaca .boy .boy-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Boyaca .boy .boy-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Boyaca .boy .boy-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Boyaca **/

/** Caldas **/

.Caldas{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Caldas .cal .cal-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Caldas .cal .cal-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Caldas .cal .cal-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Caldas .cal .cal-box a{
    text-decoration: none;
}

.Caldas .cal .cal-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Caldas .cal .cal-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Caldas .cal .cal-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Caldas **/

/** Caqueta **/

.Caqueta{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Caqueta .caq .caq-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Caqueta .caq .caq-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Caqueta .caq .caq-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Caqueta .caq .caq-box a{
    text-decoration: none;
}

.Caqueta .caq .caq-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Caqueta .caq .caq-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Caqueta .caq .caq-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Caqueta **/

/** Casanare **/

.Casanare{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Casanare .cas .cas-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Casanare .cas .cas-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Casanare .cas .cas-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Casanare .cas .cas-box a{
    text-decoration: none;
}

.Casanare .cas .cas-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Casanare .cas .cas-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Casanare .cas .cas-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Casanare **/

/** Cauca **/

.Cauca{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Cauca .cau .cau-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Cauca .cau .cau-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Cauca .cau .cau-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Cauca .cau .cau-box a{
    text-decoration: none;
}

.Cauca .cau .cau-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cauca .cau .cau-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Cauca .cau .cau-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Cauca **/

/** Cesar **/

.Cesar{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Cesar .ces .ces-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Cesar .ces .ces-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Cesar .ces .ces-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Cesar .ces .ces-box a{
    text-decoration: none;
}

.Cesar .ces .ces-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cesar .ces .ces-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Cesar .ces .ces-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Cesar **/

/** Choco **/

.Choco{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Choco .cho .cho-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Choco .cho .cho-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Choco .cho .cho-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Choco .cho .cho-box a{
    text-decoration: none;
}

.Choco .cho .cho-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Choco .cho .cho-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Choco .cho .cho-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Choco **/

/** Cordoba **/

.Cordoba{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Cordoba .cor .cor-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Cordoba .cor .cor-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Cordoba .cor .cor-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Cordoba .cor .cor-box a{
    text-decoration: none;
}

.Cordoba .cor .cor-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cordoba .cor .cor-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Cordoba .cor .cor-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Cordoba **/

/** Cundinamarca **/

.Cundinamarca{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Cundinamarca .cund .cund-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Cundinamarca .cund .cund-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Cundinamarca .cund .cund-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Cundinamarca .cund .cund-box a{
    text-decoration: none;
}

.Cundinamarca .cund .cund-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cundinamarca .cund .cund-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Cundinamarca .cund .cund-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Cundinamarca **/

/** Guainia **/

.Guainia{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Guainia .guai .guai-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Guainia .guai .guai-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Guainia .guai .guai-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Guainia .guai .guai-box a{
    text-decoration: none;
}

.Guainia .guai .guai-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Guainia .guai .guai-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Guainia .guai .guai-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Guainia **/

/** Guainia **/

.Guaviare{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Guaviare .guav .guav-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Guaviare .guav .guav-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Guaviare .guav .guav-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Guaviare .guav .guav-box a{
    text-decoration: none;
}

.Guaviare .guav .guav-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Guaviare .guav .guav-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Guaviare .guav .guav-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Guaviare **/

/** Huila **/

.Huila{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Huila .hui .hui-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Huila .hui .hui-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Huila .hui .hui-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Huila .hui .hui-box a{
    text-decoration: none;
}

.Huila .hui .hui-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Huila .hui .hui-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Huila .hui .hui-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Huila **/

/** Guajira **/

.Guajira{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Guajira .guaj .guaj-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Guajira .guaj .guaj-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Guajira .guaj .guaj-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Guajira .guaj .guaj-box a{
    text-decoration: none;
}

.Guajira .guaj .guaj-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Guajira .guaj .guaj-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Guajira .guaj .guaj-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** La Guajira **/

/** Magdalena **/

.Magdalena{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Magdalena .mag .mag-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Magdalena .mag .mag-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Magdalena .mag .mag-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Magdalena .mag .mag-box a{
    text-decoration: none;
}

.Magdalena .mag .mag-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Magdalena .mag .mag-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Magdalena .mag .mag-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Magdalena **/

/** Meta **/

.Meta{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Meta .meta .meta-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Meta .meta .meta-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Meta .meta .meta-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Meta .meta .meta-box a{
    text-decoration: none;
}

.Meta .meta .meta-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Meta .meta .meta-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Meta .meta .meta-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Meta **/

/** Nariño **/

.Nariño{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Nariño .nar .nar-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Nariño .nar .nar-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Nariño .nar .nar-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Nariño .nar .nar-box a{
    text-decoration: none;
}

.Nariño .nar .nar-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nariño .nar .nar-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Nariño .nar .nar-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Nariño **/

/** Norte de Santander **/

.NortedeSantander{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.NortedeSantander .norte .norte-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.NortedeSantander .norte .norte-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.NortedeSantander .norte .norte-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.NortedeSantander .norte .norte-box a{
    text-decoration: none;
}

.NortedeSantander .norte .norte-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NortedeSantander .norte .norte-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.NortedeSantander .norte .norte-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Norte de Santander **/

/** Putumayo **/

.Putumayo{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Putumayo .put .put-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Putumayo .put .put-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Putumayo .put .put-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Putumayo .put .put-box a{
    text-decoration: none;
}

.Putumayo .put .put-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Putumayo .put .put-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Putumayo .put .put-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Putumayo **/

/** Quindio **/

.Quindio{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Quindio .qui .qui-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Quindio .qui .qui-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Quindio .qui .qui-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Quindio .qui .qui-box a{
    text-decoration: none;
}

.Quindio .qui .qui-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quindio .qui .qui-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Quindio .qui .qui-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Quindio **/

/** Risaralda **/

.Risaralda{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Risaralda .ris .ris-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Risaralda .ris .ris-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Risaralda .ris .ris-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Risaralda .ris .ris-box a{
    text-decoration: none;
}

.Risaralda .ris .ris-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Risaralda .ris .ris-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Risaralda .ris .ris-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Risaralda **/

/** San Andres **/

.SanAndres{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.SanAndres .andres .andres-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.SanAndres .andres .andres-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.SanAndres .andres .andres-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.SanAndres .andres .andres-box a{
    text-decoration: none;
}

.SanAndres .andres .andres-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SanAndres .andres .andres-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.SanAndres .andres .andres-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** San Andres **/

/** Santander **/

.Santander{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Santander .sant .sant-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Santander .sant .sant-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Santander .sant .sant-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Santander .sant .sant-box a{
    text-decoration: none;
}

.Santander .sant .sant-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Santander .sant .sant-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Santander .sant .sant-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Santander **/

/** Sucre **/

.Sucre{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Sucre .suc .suc-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Sucre .suc .suc-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Sucre .suc .suc-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Sucre .suc .suc-box a{
    text-decoration: none;
}

.Sucre .suc .suc-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sucre .suc .suc-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Sucre .suc .suc-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Sucre **/

/** Sucre **/

.Tolima{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Tolima .tol .tol-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Tolima .tol .tol-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Tolima .tol .tol-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Tolima .tol .tol-box a{
    text-decoration: none;
}

.Tolima .tol .tol-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tolima .tol .tol-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Tolima .tol .tol-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Tolima **/

/** Norte de Santander **/

.Valle{
    padding: 0px 20px 20px 30px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Valle .valle .valle-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Valle .valle .valle-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Valle .valle .valle-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Valle .valle .valle-box a{
    text-decoration: none;
}

.Valle .valle .valle-img{
    border-color: var(--black);
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Valle .valle .valle-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Valle .valle .valle-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

/** Valle del Cauca **/

/** Vaupes **/
.Vaupes{
    padding: auto;
    flex-direction: row;
    
    margin: 30px 70px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Vaupes .vau .vau-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Vaupes .vau .vau-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Vaupes .vau .vau-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Vaupes .vau .vau-box a{
    text-decoration: none;
}

.Vaupes .vau .vau-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Vaupes .vau .vau-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Vaupes .vau .vau-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}
/** Vaupes **/

/** Vichada **/

.Vichada{
    padding: auto;
    flex-direction: row;
    
    margin: 30px 40px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Vichada .vich .vich-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.Vichada .vich .vich-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Vichada .vich .vich-box h3{
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Vichada .vich .vich-box a{
    text-decoration: none;
}

.Vichada .vich .vich-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Vichada .vich .vich-img img{
    margin-top: 20px;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.Vichada .vich .vich-img img:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}
/** Vichada **/

/** Departamentos **/