:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#1f6650;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/


/** IMG Header **/

.img-header{
    position: center;
    width: 100%;
    height: 100vh;
    background: url(../img/geografia.png);
    background-position: center;
    background-size: cover;
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 20px;
}

.img-header .welcome p{
    margin-top: 30px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    transition: 0,5s;
}

.img-header .welcome > button:hover{
    background: var(--darkblue);
}

/** IMG Header **/

/** Temas  **/

.temas{
    width: 100%;
    margin-top: 120px;
}

.temas .temas-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.temas .temas-title h2{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.temas .temas-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}

/** Temas **/

/** TEMÁTICA **/

.dep-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.dep-img .temas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dep-img .temas .temas-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dep-img .indepe1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    flex-direction: row;
}

.dep-img .indepe2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    flex-direction: row;
}

.dep-img .indepe3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    flex-direction: row;
}

/** TEMATICA **/

/** INDEPENDENCIA1 **/

.Independencia1{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Independencia1 .inde1 .inde1-box{
    align-items: center;
    border: 2px solid var(--darkgreen);
    margin-top: 30px;
    width: 550px;
    height: 950px;
    object-fit: cover;
    border-radius: 20px;
    transition: 200ms;
}

.Independencia1 .inde1 .inde1-box:hover{
    box-shadow: 0 0 10px var(--darkgreen);
}

.Independencia1 .inde1 .inde1-box h3{
    
    color: var(--darkgreen);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Independencia1 .inde1 .inde1-box h4{
    
    color: var(--black);
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Independencia1 .inde1 .inde1-box h5{
    margin: 10px;
    color: var(--black);
    font-weight: normal;
    font-size: 17px;
    text-align: justify;
    transition: 200ms;
}


.Independencia1 .inde1 .inde1-box a{
    text-decoration: none;
}

.Independencia1 .inde1 .inde1-img{
    text-decoration: none;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Independencia1 .inde1 .inde1-img img{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

/** INDEPENDENCIA1 **/

/** INDEPENDENCIAIMG1 **/

.img-ind1{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-ind1 .indimg1 .indimg1-box{
    align-items: center;
    margin-top: 30px;
    width: 280px;
    height: 270px;
    object-fit: cover;
    border-radius: 20px;
    transition: 200ms;

    padding: 10px 10px 10px 10px;
}

.img-ind1 .indimg1 .indimg1-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}


.img-ind1 .indimg1 .indimg1-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ind1 .indimg1 .indimg1-img img{
    border-radius: 20px;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}


/** IMG INDEPENDENCIA1 **/

/** INDEPENDENCIA2 **/

.Independencia2{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Independencia2 .inde2 .inde2-box{
    align-items: center;
    border: 2px solid var(--orange);
    margin-top: 30px;
    width: 550px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
    transition: 200ms;
}

.Independencia2 .inde2 .inde2-box:hover{
    box-shadow: 0 0 10px var(--orange);
}

.Independencia2 .inde2 .inde2-box h3{
    
    color: var(--orange);
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Independencia2 .inde2 .inde2-box h4{
    
    color: var(--black);
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Independencia2 .inde2 .inde2-box h5{
    margin: 10px;
    color: var(--black);
    font-weight: normal;
    font-size: 17px;
    text-align: justify;
    transition: 200ms;
}

/** INDEPENDENCIA2 **/

/** INDEPENDENCIAIMG2 **/

.img-ind2{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-ind2 .indimg2 .indimg2-box{
    align-items: center;
    margin-top: 30px;
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
    transition: 200ms;

    padding: 10px 10px 10px 10px;
}

.img-ind2 .indimg2 .indimg2-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}


.img-ind2 .indimg2 .indimg2-img{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ind2 .indimg2 .indimg2-img img{
    border-radius: 20px;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

/** IMG INDEPENDENCIA2 **/

/** INDEPENDENCIA3 **/

.Independencia3{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Independencia3 .inde3 .inde3-box{
    align-items: center;
    border: 2px solid var(--redckae);
    margin-top: 30px;
    width: 550px;
    height: 1200px;
    object-fit: cover;
    border-radius: 20px;
    transition: 200ms;
}

.Independencia3 .inde3 .inde3-box:hover{
    box-shadow: 0 0 10px var(--redckae);
}

.Independencia3 .inde3 .inde3-box h3{
    
    color: var(--redckae);
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Independencia3 .inde3 .inde3-box h4{
    
    color: var(--black);
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}

.Independencia3 .inde3 .inde3-box h5{
    margin: 10px;
    color: var(--black);
    font-weight: normal;
    font-size: 17px;
    text-align: justify;
    transition: 200ms;
}

/** INDEPENDENCIA3 **/

/** INDEPENDENCIAIMG3 **/

.img-ind3{
    padding: 0px 20px 20px 50px;
    flex-direction: row;
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-ind3 .indimg3 .indimg3-box{
    align-items: center;
    margin-top: 30px;
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
    transition: 200ms;

    padding: 10px 10px 10px 10px;
}

.img-ind3 .indimg3 .indimg3-box h3{
    
    color: var(--black);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}


.img-ind3 .indimg3 .indimg3-img{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ind3 .indimg3 .indimg3-img img{
    border-radius: 20px;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

/** IMG INDEPENDENCIA3 **/

/** Footer **/

.footer-text p{
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

/** Footer **/