:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entorno{
    display: flex;
}


.entorno .fondo{
    margin: 10% 40%;
    opacity: 0.3;
    border: 2px solid var(--black);
    border-radius: 20px;
}

.entorno .fondo img{
    width: 400px;
    height: 400px;
}