:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --pink: #e6739f;
    --darkpink: #cc0e74;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}


/** Go top **/

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--black);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
    z-index: 9999;
}

.go-top:hover{
    border: 2px solid var(--red);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);
}

.go-top > span{
    font-size: 20px;
    color: var(--black);
}

/** Go top **/

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/

/** Atlas **/

.header{
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header .bandera{
    
    width: 90%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    
    padding: 90px 1000px 20px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
   
}

.header .bandera img{
    position: absolute;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    margin-top: -170px;
    object-fit: cover;
    border: 4px solid var(--black);
}

.header .titulo{
    position: relative;
    margin-top: 150px;
    width: 98%;
    background-color: var(--black);
    border-radius: 24px;
    float: right;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 15px;
    
}

.header .titulo h2{

    color: var(--white);
    font-weight: normal;
    font-size: 35px;
    justify-content: center;
    margin-bottom: 20px;
    transform: translateY(25%);
}

.header .escudo{
    width: 18%;
    float: right;
    display: flex;
}

.header .escudo img{
    position: absolute;
    width: 110px;
    height: 120px;
    margin-top: -195px;
}

/** Atlas **/

/** PRINCIPAL **/

.regionamaz{
    padding: 200px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.regionamaz .amaz{
    align-items: center;
    margin-top: 30px;
    flex-direction: row;
    overflow: hidden;
}

.regionamaz .amaz .amaz-box{
    align-items: center;
    border: 2px solid var(--black);
    margin-top: 30px;
    width: 100%;
    height: 1110px;
    object-fit: cover;
    border-radius: 20px;
    justify-content: center;
}

.regionamaz .amaz .amaz-box .mapa{
    align-items: center;
    width: 100%;
    height: 1100px;
    object-fit: cover;
    border-radius: 20px;
    justify-content: center;
}

.regionamaz .amaz .amaz-box .mapa img{
    align-items: center;
    width: 100%;
    height: 1100px;
    border-radius: 20px;
}

/** PRINCIPAL **/

/** DATOS1 **/

.regionamaz .amaz .txtamaz1-box{

    margin-top: 30px;

    padding: 0px 30px 8px 30px;
    width: 33.3%;
    height: 510px;
    justify-content: center;
    float: left;
}

.regionamaz .amaz .txtamaz1-box h3{
    position: relative;
    margin-top: 10px;
    width: 98%;
    background: linear-gradient(var(--white),var(--red),var(--redckae));
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.regionamaz .amaz .txtamaz1-box h3{
    color: var(--white);
    font-weight: normal;
    font-size: 25px;
    justify-content: center;
    transform: translateY(25%);
}

.regionamaz .amaz .txtamaz1-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
}

.regionamaz .amaz .txtamaz1-box h4 a{
    text-decoration: none;
    color: var(--darkblue);
    font-size: 15px;
    text-align: justify;
}

/** DATOS1 **/

/** DATOS2 **/

.regionamaz .amaz .txtamaz2-box{
    margin-top: 30px;
    padding: 0px 30px 8px 30px;
    width: 33.3%;
    height: 510px;
    justify-content: center;
    float: left;
}

.regionamaz .amaz .txtamaz2-box h3{
    position: relative;
    margin-top: 0px;
    width: 98%;
    background: linear-gradient(var(--white),var(--lightgreen),var(--darkgreen));
    border-radius: 24px;
    display: flex;
    text-align: justify;
}

.regionamaz .amaz .txtamaz2-box h3{
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
    justify-content: center;
    transform: translateY(0%);
}

.regionamaz .amaz .txtamaz2-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
}

.regionamaz .amaz .txtamaz2-box h4 a{
    text-decoration: none;
    color: var(--darkblue);
    font-size: 15px;
    text-align: justify;
}

/** DATOS2 **/

/** DATOS3 **/

.regionamaz .amaz .txtamaz3-box{
    display: flex;
    margin-top: 30px;
    padding: 0px 30px 8px 30px;
    width: 33.3%;
    height: 510px;
    justify-content: center;
    float: left;
}

.regionamaz .amaz .txtamaz3-box h3{
    position: relative;
    margin-top: 10px;
    width: 98%;
    background: linear-gradient(var(--white),var(--red),var(--redckae));
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.regionamaz .amaz .txtamaz3-box h3{
    color: var(--white);
    font-weight: normal;
    font-size: 25px;
    justify-content: center;
    transform: translateY(25%);
}

.regionamaz .amaz .txtamaz3-box h4{
    color: var(--black);
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
}

.regionamaz .amaz .txtamaz3-box h4 a{
    text-decoration: none;
    color: var(--darkblue);
    font-size: 15px;
    text-align: justify;
}

/** DATOS3 **/

/** Footer **/

.footer-text p{
    color: var(--black);
    font-size: 20px;
    text-align: center;
}

/** Footer **/