:root{
    --red:#e8505b;
    --redckae: #d32626;
    --black:#000000;
    --darkblue:#0f4c75;
    --lightblue:#b2ebf2;
    --yellow:#ffd571;
    --orange:#ffaa71;
    --darkgreen:#5b8c5a;
    --lightgreen:#639a67;
    --white:#ffffff;
    --lightblack: #4c4c4c;
    --beige: #d8c593;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

/** Menu de Navegacion **/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box img{
    width: 2.3%;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box input{
    padding: 5px 10px 9px 40px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: var(--black);
    border: 3px solid var(--red);

    background: var(--white);
}     

.menu .box input:hover{
    background-color: var(--white);
    border-color: var(--red);
    box-shadow: 0 0 5px var(--red);
}

.menu .box .boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}

.menu .box .boton:hover{
    color: var(--red);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.activo{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/** Menu de Navegacion **/

.entorno{
    display: flex;
}


.entorno .fondo{
    margin: 10% 35%;
    opacity: 0.3;
    border: 2px solid var(--black);
}

.entorno .fondo img{
    width: 600px;
    height: 460px;
}